<h3>
  <span>Received Hits</span>
  <input type="search" placeholder="Search..." class="form-control search-input" data-table="hits-table"/>
</h3>

<table id="hits-table" class="hits-table">
  <thead>
    <th>id</th>
    <th>user-agent</th>
    <th>referrer</th>
    <th>ip</th>
    <th>url</th>
    <th>created at</th>
  </thead>
  {{#each hits}}
  <tr>
    <td>{{id}}</td>
    <td>{{userAgent}}</td>
    <td>{{referrer}}</td>
    <td>{{ipAddress}}</td>
    <td>{{url}}</td>
    <td>{{createdAt}}</td>
  </tr>
  {{/each}}
</table>
<button onclick="if(confirm('Are you sure you want to clear all hits?')){window.location.href='/clear';}">
  Clear All Hits
</button>